
.icon-wind:before { content: '\e800'; } /* '' */
.icon-temperature:before { content: '\e801'; } /* '' */
.icon-cloud-wind:before { content: '\e802'; } /* '' */
.icon-sun:before { content: '\e803'; } /* '' */
.icon-fog:before { content: '\e804'; } /* '' */